{% extends 'base.html.twig' %}

{% block body %}
    {% if app.user %}
        <h1>Edit Profile</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    {% endif %}

    <a href="{{ path('app_home') }}">Come back to main page</a>
{% endblock %}

