<form method="post" action="{{ path('app_project_delete', {'id': project.id}) }}" onsubmit="return confirm('{{ 'are_you_sure_you_want_to_delete'|trans }}');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ project.id) }}">
    <button class="btn">{{ 'delete'|trans }}</button>
</form>
